doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Chat & Call
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
    header.greeting
      h1 § Welcome to Chat World §
    main
      div.setting
        form.nickname-form
          h3.dp Current Name: 
            span.name 익명
          input(placeholder='Your name')
          button Save
        form.room-form
          input(placeholder='Room name')
          button Enter

      div.room(hidden)
        header
          h2.room-name
          button.back Back
        ul.chat-list
        form.chat-form
          input(placeholder='message')
          button send

    script(src="/socket.io/socket.io.js" ) 
    script(src="/public/app.js" type="module") 